{% extends 'base.html' %}

{% block content %}

{% block title %}
   <br> Rate list <br>
{% endblock title %}

<table id="table">
    <tr>
        <th>ID</th>
        <th>BUY</th>
        <th>SELL</th>
        <th>CREATED</th>
        <th>TYPE</th>
        <th>SOURCE</th>
    </tr>
      <tr>
          <td>{{rate.id}}</td>
          <td>{{rate.buy}}</td>
          <td>{{rate.sell}}</td>
          <td>{{rate.created}}</td>
          <td>{{rate.currency_type}}</td>
          <td>{{rate.source}}</td>
          {% if request.user.is_superuser %}
          <td><a href="{% url 'currency:rate-update' rate.id %}"> Edit </a></td>
          <td><a href="{% url 'currency:rate-delete' rate.id %}"> Delete </a></td>
          {% endif %}
      </tr>
</table>

{% endblock content %}