{% extends 'base.html' %}

{% block content %}

{% block title %}
   <br> Rate list <br>
{% endblock title %}

<a href="{% url 'currency:rate-create' %}">Create</a><br>
<table id="table">
    <tr>
        <th>ID</th>
        <th>BUY</th>
        <th>SELL</th>
        <th>CREATED</th>
        <th>CURRENCY TYPE</th>
        <th>SOURCE</th>
    </tr>
   {% for rate in object_list %}
      <tr>
          <td>{{rate.id}}</td>
          <td>{{rate.buy}}</td>
          <td>{{rate.sell}}</td>
          <td>{{rate.created}}</td>
          <td>{{rate.get_currency_type_display}}</td>
          <td>{{rate.source}}</td>
          {% if request.user.is_authenticated and request.user.is_superuser  %}
          <td><a href="{% url 'currency:rate-update' rate.id %}"> Edit </a></td>
          <td><a href="{% url 'currency:rate-delete' rate.id %}"> Delete </a></td>
          <td><a href="{% url 'currency:rate-detail' rate.id %}"> Detail </a></td>
          {% elif request.user.is_authenticated and not request.user.is_superuser %}
          <td><a href="{% url 'currency:rate-detail' rate.id %}"> Detail </a></td>
          {%  endif %}
      </tr>

     {% endfor %}
</table>

{% endblock content %}

