{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col-12">
         <form method="get">
        {{ filter.form.as_p }}
        <input type="submit"/>
    </form>
    </div>
</div>
<a href="{% url 'currency:rate-create' %}">Create</a><br>
<div class="row">
<table class="table table-stripped">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">BUY</th>
        <th scope="col">SELL</th>
        <th scope="col">CREATED</th>
        <th scope="col">CURRENCY TYPE</th>
        <th scope="col">SOURCE</th>
    </tr>
   {% for rate in page_obj %}
      <tr>
          <th scope="row">{{rate.id}}</th>
          <td>{{rate.buy}}</td>
          <td>{{rate.sell}}</td>
          <td>{{rate.created}}</td>
          <td>{{rate.get_currency_type_display}}</td>
          <td>{{rate.source}}</td>
          {% if request.user.is_authenticated %}
          <td>
              <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Actions
                    </button>

                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'currency:rate-update' rate.id %}">Edit</a>
                    <a class="dropdown-item" href="{% url 'currency:rate-delete' rate.id %}">Delete</a>
                    <a class="dropdown-item" href="{% url 'currency:rate-detail' rate.id %}">Detail</a>
                  </div>
              </div>
          </td>
          {%  endif %}
      </tr>

     {% endfor %}
</table>
</div>

<div class="row">
    <div class="col-12">
      {% include 'includes/pagination.html' %}
    </div>
</div>

{% endblock content %}

